<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.BookDao">
    <select id="listBook" resultType="mybatis.dto.BookDto">
        select bookid, bookname as bookName, publisher, price
        from book;
    </select>

    <select id="detailBook" resultType="mybatis.dto.BookDto">
        select bookid, bookname as bookName, publisher, price
        from book
        where bookid = #{bookid};
    </select>

    <insert id="insertBook" parameterType="mybatis.dto.BookDto">
        insert into book (bookid, bookname, publisher, price)
        values (#{bookid}, #{bookName}, #{publisher}, #{price})
    </insert>

    <update id="updateBook" parameterType="mybatis.dto.BookDto">
        update book
        set bookName = #{bookName},
            publisher = #{publisher},
            price = #{price}
        where bookid = #{bookid}
    </update>


    <delete id="deleteBook" parameterType="int">
        delete from book
        where bookid = #{bookid}
    </delete>
</mapper>
